<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .th-post > *{
      border: 1px solid black;
      margin: 2px 0;
    }
    .th-post > header > username{
      text-align: center;
      align-items: center;
      justify-content: space-between;
    }
  </style>
</head>
<body>
  <div class="th-post">
    <div class="header">
      <div class="level-left">
        <figure class="image is-32x32"> 
          <img 
          :src="@/assets/profileBasic.png" alt="기본 프로필 사진" />
          <!-- :src="post.userImage" /> -->
        </figure>
        <span class="username">{{ post.username }}</span>
      </div>
    </div>
    <div
      class="image-container"
      :class="post.filter"
      :style="{ backgroundImage: 'url(' + post.postImage + ')' }"
      @dblclick="like"
    > 이미지 컨테이너 - 피드이미지가 들어갈 곳입니다. </div>
    <div class="content">
      <div class="like">
        <div class="heart">
          <i
            class="far fa-heart fa-lg"
            area-hidden="true" 
            :class="{ fas: this.post.hasBeenLiked }"
            @click="like"
          ></i>
        </div>
        <p class="likes">{{ post.likes }} likes</p>
      </div>
      <div class="caption_view">
        <p class="caption">
          <span>{{ post.username }}</span> {{ post.caption }}
        </p>
      </div>      
    </div>
    <div class="comments"> 
      댓글 div 테스트 중입니다. 
    </div>
  </div>
</body>
</html>