#calendar {
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 45px;
  overflow: auto;
  /* background-color: rgba(0, 0, 0, 0.025); */
}

/* CalendarHeader */
#calendar-header {
  background-color: #ffffff;
  display: flex;
  height: 40px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}

#calendar-header > .cancel {
  height: 24px;
}

#calendar-header > .cancel > span {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}

#calendar-header > .context {
  font-weight: bold;
}
