@charset "utf-8";

.firstpage {
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 242px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.user .logo {
  font-size: 30px;
  font-weight: 700;
  height: 50px;
  margin-bottom: 40px;
}

.user .end-text-signup {
  color: rgba(0, 0, 0, 0.87);
  font-size: 10px;
}

.user .link-go-signup {
  margin: 5px;
  text-decoration: none;
  color: rgba(66, 165, 245, 0.87);
}

.user .user-btn-reject {
  width: 242px;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
  color: #FBFBFB;
  background: rgba(0, 0, 0, 0.38);
  border: none;
  border-radius: 7px;
}

.user .user-btn {
  width: 242px;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
  color: #FBFBFB;
  background: rgba(66, 165, 245, 0.87);
  border: none;
  border-radius: 7px;
}




.font-scale-8 {
  font-size: 10px;
  -webkit-transform: scale(0.8);
  display: inline-block;
  margin: 0;
}


/* 로그인 */
.user#login .login-input-data {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
  width: 242px;
  height: 40px;
  font-size: 11px;
  line-height: 13px;
  background: rgba(0, 0, 0, 0.024);
  border-radius: 3px;
  border: none;
  border-bottom: 2.2px solid rgba(0, 0, 0, 0.6);
}

.user#login .social-login {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  height: 45px;
}

.user#login .find-password-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.user#login .link-find-password {
  margin-top: 10px;
  text-decoration: none;
  font-size: 9px;
  color: rgba(0, 0, 0, 0.87);
}



/* 회원가입 */

.user#signup .form-wrap {
  height: 222px;
}

.user#signup .input-with-label {
  position: relative;
}


.user#signup .input-with-label label{
  position: absolute;
  left: 3px;
  top: 12px;
  font-weight: 600;
  font-size: 10px;
}

.user#signup .input-with-label#short input[type="text"] {
  padding: 6.5px 0 0 50px;
}

.user#signup .input-with-label input[type="text"] {
  padding: 5px 0 0 70px;
  font-size: 8px;
}


.user#signup .send-confirmNum {
  position: absolute;
  left: 176px;
  top: 9px;
  width: 63px;
  height: 18px;
  padding: 0;
  border: none;
  border-radius: 8px;
  background-color: rgba(66, 165, 245, 0.87);
}

.user#signup .send-confirmNum p {
  font-weight: bold;
  color: #FBFBFB;
}


.user#signup .signup-input-data{
  box-sizing: border-box;
  height: 35px;
  width: 242px;
  margin-bottom: 10px;
  border-radius: 1px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}



.user#signup .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  font-size: 9px;
}

.user#signup .end-text-signup {
  margin-top: 40px;
  font-size: 9px;
}
